body {
	// border: 3px solid red;
	height: 100%; //full height
	background-color: Gray;

	&.hide-sidebar aside {
		display: none;
	}

	&.hide-sidebar section {
		position: absolute;
		left: 0;
		top: 0;
	}

}

aside {
	// border: 2px solid green;
	background-color: #F1F1F1;
	display: table-cell;
  width: 200px;
  padding: 21px 8px;
}

section {
	// border: 2px solid Orange;
	background-color: #F1F3F6;
	color: #73879C;
	display: table-cell;
	padding: 34px 13px;
	border-left: 1px solid #BCBCBC;

	& button {
		position: absolute;
		top: 8px;
		right: 8px;
		color:red;
	}

}
