html, body {
	height: 100%;
}

div.flex-container {
	position: static;
	border: 1px solid green;
	min-height: 600px;
	height: 100%;

	//flex properties
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start; //horizontal align of items
	align-items: stretch; //vertical align of items
	align-content: flex-start; //align flex lines

	& > .flex-item {
		// border: 1px solid red;
		overflow-y: scroll;

		&#sidebar {
			background-color: #F1F1F1;
			color: #111;
			padding: 50px 8px;
			transition: all 1s ease;

			//flex properties
			order: 1;
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 200px;
			-webkit-flex-basis: 200px;
			align-self: stretch;

			&.hide-sidebar {
				// overflow-y: hidden;
				color: Silver;
				flex-basis: 0px;
				margin-left: -18px;
			}
		}

		&#content {
			background-color: #F1F3F6;
			color: #73879C;
			border-left: 1px solid #BCBCBC;


			//flex properties
			order: 2;
			flex-grow: 0;


			& > button {
				position: absolute;
				top: 8px;
				left: 8px;
				outline: none;
				opacity: 0.3;
			}

			& > section {
				padding: 21px 13px;
			}

			& > footer {
				padding: 5px 8px;
				border-top: 1px solid #BCBCBC;
				background-color: #fff;
				color: Gray;
				text-align: center;
			}

		}
	}
}
